<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ms.kwon.simple.todolist.mapper.TodoMapper">
    <insert id="addTodo" parameterType="Todo">
        INSERT INTO todos4
            (text, colorValue)
        VALUES
            (#{text}, #{colorValue})
    </insert>
    <select id="getTodolist" parameterType="hashMap" resultType="Todo">
        SELECT id, text, colorValue, isChecked, isRemoved, lastUpdated, created
        FROM todos4
        WHERE 1=1
        <if test="isDisplayFinishedTodo == false">
            AND isChecked = false
        </if>
        <if test="isDisplayRemovedTodo == false">
            AND isRemoved = false
        </if>
        <if test="orderCondition == 'CREATED DESC'">
            ORDER BY id DESC
        </if>
        <if test="orderCondition == 'CREATED ASC'">
            ORDER BY id ASC
        </if>
    </select>
    <select id="getTodoById" resultType="Todo">
        SELECT id, text, colorValue, isChecked, isRemoved, lastUpdated, created
        FROM todos4
        WHERE id = #{id}
    </select>
    <update id="toggleTodoCheck" parameterType="Todo">
        UPDATE todos4
        SET
            isChecked = #{isChecked},
            lastUpdated = NOW()
        WHERE
            id = #{id}
    </update>
    <update id="removeTodo" parameterType="Todo">
        UPDATE todos4
        SET
            isRemoved = #{isRemoved},
            lastUpdated = NOW()
        WHERE
            id = #{id}
    </update>
</mapper>
