.modal {
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    top:0; left:0;
    z-index: 2000;
}

.todo-modal {
    width:800px;
    height:500px;
    background:#fff;
    border-radius:10px;
    position:relative;
    top:20%;
    left:40%;
    margin-top:-100px;
    margin-left:-200px;
    box-sizing:border-box;
    padding:50px;
    line-height:23px;
}

.todo-status {
    position: fixed;
    top: 20%;
}

.todo-info {
    position: fixed;
    top: 40%;
}


.todo-text input {
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid green;
}

.todo-text input:focus {
    border: 1px solid green;
}

.todo-text input.updated {
    border: none;
    border-bottom: 1px solid orange;
}

.todo-text input.updated:focus {
    border: 1px solid orange;
}

.todo-modal .modal-close {
    position: relative;
    top: 80%;
    left: 75%;
}

.todo-modal .todo-status {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.todo-modal .todo-status .todo-checkbox-control {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.todo-checkbox-control input:checked + .control-box {
    background-color: #12b886;
}

.todo-checkbox-control input + .control-box.updated {
    background-color: lightsalmon;
}

.todo-checkbox-control input + .control-box::after {
    content: '';
    position: absolute;
    display: none;
}

.todo-checkbox-control input:checked + .control-box::after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: block;
}

.todo-modal .hidden-checkbox {
    display: none;
}

.todo-modal .control-box {
    position: relative;
    top: 2px;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    margin-right: 10px;
}

.todo-modal label div {
    box-sizing: border-box;
}


.todo-modal .modal-close .close-buttons button {
    width: 80px;
    height: 40px;
    margin: 10px;
    border: none;
    color: white;
    background-color: darkgray;
}

.todo-modal .modal-close .close-buttons button.close-save:hover {
    background-color: darkgreen;
}

.todo-modal .modal-close .close-buttons button.close-cancel:hover {
    background-color: darkred;
}